* {
  font-family: arial;
}
body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-repeat: no-repeat;
  height: 91vh;
}
.check-ip-wrapper {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  direction: ltr;
}

#check-ip {
  border: none;
  color: white;
  padding: 15px 35px;
  font-weight: bold;
  font-size: large;
  background-color: #00dbde;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-top: 240px;
}

#check-ip:hover {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.check-ip-wrapper table {
  border-collapse: separate;
  display: table-column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.check-ip-wrapper table tr td,
.check-ip-wrapper table tr th {
  padding: 30px;
  background: rgba(137, 43, 226, 0.562);
  border-radius: 10px;
}
.check-ip-wrapper table tr td{
    padding: 20px;
}
.check-ip-wrapper table tr th{
    padding: 10px;
}
.ds-none {
  display: none !important;
}
.table:nth-child(1){
    background: red;
}